html { 
    background: url(/images/Fuji-Mountain-red-maple-leaves-lake-autumn-Japan_5120x2880.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    }